---
import '../styles/global.css';
import '../styles/page.css';
import Navbar from '@/components/Navbar.astro';
import Head from '@/components/Head/Head.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Navbar />
    <main class="main-content">
      <slot />
    </main>
  </body>
</html>

<style>
  .main-content {
    padding: 32px;
    max-width: 720px;
  }
</style>
