---
import Base from './Base.astro';

interface Props {
  title: string;
  subtitle: string;
  description?: string;
}

const { title, subtitle, description } = Astro.props;
---

<Base title={title} description={description}>
  <h1>{title}</h1>
  <p class="subtitle">{subtitle}</p>
  <div class="content page-content">
    <slot />
  </div>
</Base>

<style>
  :global(body) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
